
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Work Sans', sans-serif;
}
.NAV-VS-STYLE ul{
    background: #ffffff;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 10px;
    border: #c9a345;
    color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0.20 0.8 rgba(84, 84, 84, 0.712);
}

.lista-nav{
    font-size: 19px;
    margin: 7px 14px 8px 0px;
    margin-top: 14px;
    box-shadow: 0 0 0,2 ;
}
.lista-nav-45{
    font-size: 19px;
    margin-right: 90px;
    margin-top: 14px;
    box-shadow: 0 0 0,2 ;
}
.lista-nav:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8DA399; 
    border-radius: 30px;
    width: 145px;
    height: 20px;
    color: #1a1a1a;
    padding: 4px;
    font-size: 19px;
    color: #1a1a1a;
}
.lista-nav-45:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8DA399; 
    border-radius: 30px;
    width: 135px;
    height: 20px;
    color: #1a1a1a;
    padding: 4px;
    font-size: 19px;
    color: #1a1a1a;
}
.section-start{
    height: 600px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#f3f5f6,#c5c4c4);
}
.-b357-letf{
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    margin-bottom: 110px;
    margin-left: 90px;
}
.-b357-right{
    margin: 70px;
}
.Holasoy-1{
    font-size: 29px;
}
.Holasoy-2{
    font-size: 40px;
    color: #8DA399;
}
.Holasoy-3{
    font-size: 20px;
    padding-top: 8px;
    color: #000000d5;
}
.Holasoy-4{
    padding-left: 6px;
    padding-top: 13px;
    font-size: 17px;
}
.p-soy4{
    background-color: #8DA399;
    display: flex;
    width: 150px;
    height: 33px;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
}


.secti-cono{
    height: 950px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:  #8DA399;
}
.div-mis-1{
    display: flex;
    justify-content: center;
    font-size: 42px;
    margin: 40px;
}
.div-mis-2{
    display: flex;
    justify-content: center;
    font-size: 21px;
    margin: 27px;
}
.divi-imagenes-1{
    display: flex;
    justify-content: center;
}
.div-cuadros-img{
    background-color: #ffffff;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    margin: 12px;
    font-size: 24px;
}
.img-1-1{
    height: 95px;
    padding-bottom: 20px;
}



.section-comillas{
    background: linear-gradient(#f3f5f6,#adabab);
    height: 600px;
}
.comillas-img{
    margin: 80px;
    height: 280px;
    width: 280px;
}
.div-comillas{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.walter-{
    margin-top: 14px;
    font-size: 35px;
}

/*section3*/
.div-cuadros-img--1{
    background-color: #f4f1f1;
    height: 250px;
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    margin: 12px;
    font-size: 24px;
    font-weight: bolder;
    font-style: italic;
}
.img-1-1--1{
    width: 254px;
    height: 85px;
}
.img-1-1--2{
    width: 254px;
    height: 154px;
}


.formulario-escribime{
    background: linear-gradient(#f3f5f6,#c5c4c4);
    height: 500px;
}
form{
    margin-left: 40px;
}
.h3-form{
    padding-top: 7px;
    font-size: 50px;
}
.p-form{
    margin-top: 7px;
    margin-bottom: 13px;
    font-size: 25px;
    font-weight: bolder;
}
.nolo{
    display: flex;
}
.nolo--1-{
    display: flex;
    flex-direction: column;
}
.nolo--{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.inputs-{
    background-color: #bcb8b8;
    border-radius: 5px;
    height: 20px;
    width: 233px;
    padding: 7px;
    margin-bottom: 13px;
    border-style: none;
}
.inputs--{
    background-color: #bcb8b8;
    border-radius: 5px;
    height: 20px;
    width: 500px;
    padding: 7px;
    margin-bottom: 13px;
    border-style: none;
}
.text-{
    background-color: #bcb8b8;
    border-radius: 5px;
    height: 50px;
    width: 500px;
    padding: 7px;
    margin-bottom: 13px;
    border-style: none;
}
.submit-{
    background-color: #8DA399;
    border-radius: 20px;
    height: 30px;
    width: 120px;
    padding: 7px;
    border-style: none;
}

/*.material-symbols-outlined{
    background-color: #8DA399;
    border-radius: 100%;
    height: 35px;
    width: 50px;
}*/



@media (max-width: 1000px) and (min-width: 800px) {
    .secti-cono {
        background-color: #a3136e;
    }
    .lista-nav-45 {
        background-color: #a3136e;
    }
    .Holasoy-2 {
        color: #a3136e;
    }
    .p-soy4 {
        background-color: #a3136e;
    }
    .submit- {
        background-color: #a3136e;
    }
    .footer-2{
        background-color: #a3136e;
    }
}
@media (max-width: 800px) and (min-width: 600px) {
    .secti-cono {
        background-color: #d14913;
    }
    .lista-nav-45 {
        background-color: #d14913;
    }
    .Holasoy-2 {
        color: #d14913;
    }
    .p-soy4 {
        background-color:#d14913;
    }
    .submit- {
        background-color: #d14913;
    }
    .footer-2{
        background-color: #d14913;
    }
}
@media (max-width: 600px) and (min-width: 300px) {
    .secti-cono {
        background-color: #13d198;
    }
    .lista-nav-45 {
        background-color: #13d198;
    }
    .Holasoy-2 {
        color: #13d198;
    }
    .p-soy4 {
        background-color: #13d198;
    }
    .submit- {
        background-color: #13d198;
    }
    .footer-2{
        background-color: #13d198;
    }
}


.footer-2{
    background-color: #8DA399;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos--{
    color: #ffffffd5; 
    background-color: #8DA399;
    height: 40px;
    padding: 7px;

}
.H3-FOOTER{
    padding-top: 22px;
    padding-bottom: 14px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #1a1a1a;
}

